extends ../logedInLayout

block content
    .card
        .card-header
            h1= 'Hello ' + user + '!'
            h5= message
        .card 
        .card-body
            .row
                each image, index in habits.images
                    .col
                        .card(style='width: 18rem;')
                            img.card-img-top(src='/images/' + image, alt='Card image cap')
                            .card-body
                                h3.card-title= habits.titles[index]
                                p.card-text= habits.descriptions[index]
                            .card-footer.text-muted
                                form(action='/habits/create/' + habits.titles[index], method='POST')    
                                    .btn-group(role='group')
                                    button.btn.btn-info(type='button' data-toggle='modal' data-target='#writing') Why?
                                    button.btn.btn-success(type='submit') Add habit