extends ../logedInLayout

block content
    .card
        .card-header
            h1= 'Hello ' + user + '!'
        .card-body.text-center 
            h3 Here's a list of habits for success
        .card-body
            p
