extends ../layouts/loggedInLayout

block content
    .card
        .card-header
            h1= 'Hello ' + user + '!'
            h5= message
        .card-body
            .row
                each image, index in habits.images
                    .col
                        .card(style='width: 20rem;')
                            img.card-img-top(src='/images/' + image, alt='Card image cap')
                            .card-body
                                h3.card-title.text-center= habits.titles[index]
                                p.card-text= habits.descriptions[index]
                            .card-footer.text-muted
                                form(action='/habits/create/' + habits.titles[index], method='POST')    
                                    .row
                                        .col.text-left
                                            button.btn.btn-info(type='button' data-toggle='modal' data-target='#writing') Why?
                                        .col.text-right
                                            button.btn.btn-success.text-right(type='submit') Add habit