extends ../layout

block content
    .card
        .card-header
            h1= 'Hello ' + user + '!'
        .card-body 
            -var link = 'http://localhost:3000/journal/create/' + user;
            a(class="btn btn-secondary" href=link) Create new journal page