extends ../layout

block content
    -var journal = 'http://localhost:3000/journal/pages/' + user;
    ul.nav.nav-tabs.justify-content-center
        li.nav-item
            a.nav-link.disabled(href='#')= user
        li.nav-item
            a.nav-link( href=journal) Journal
        li.nav-item
            a.nav-link(href='#') Task List
        li.nav-item
            a.nav-link(href='http://localhost:3000/') Logout
    .card
        .card-header
            h1= 'Hello ' + user + '!'
        .card-body 
            a(class="btn btn-secondary" href=journal) Journal