extends ../layout

block content
    .card
        .card-header.text-center
            h4(style="color:red;") Please complete all the fields!
        .card-body.text-center
            -var link= 'http://localhost:3000' + location;
            a(class="btn btn-secondary" href=link) Go back