extends ../layouts/loggedInLayout

block content
  .card 
    .card-header.text-center
      h3 Edit page
    .card-body
      form(action= '/journal/page/' + id + '/edit' method='POST')
          .mb-3
            label.form-label(for='name' style="color:red") Title
            input#authorName.form-control(type='text', name='title', value= page.title)
          .mb-3
            label.form-label(for='description' style="color:red") Content
            input#descriptionName.form-control(type='text', name='content', value= page.content)
            .form-text edit paste content
          button.btn.btn-success(type='submit') Edit