extends layout

block content
  .card 
    .card-header 
      h3 Create new account!
    .card-body
      form(action='/user/register' method='POST')
          .mb-3
            label.form-label(for='name') User
            input#authorName.form-control(type='text', name='user' placeholder='enter your username')
          .mb-3
            label.form-label(for='description') Password
            input#descriptionName.form-control(type='password', name='password' placeholder='enter your password')
          button.btn.btn-success(type='submit') Create account