extends ../layouts/loggedInLayout

block content
    .card.mx-auto(style='width: 40rem;')
        .card-header.text-center
            h4(style="color:red;")= message
        .card-body.text-center
            form(action='http://localhost:3000' + location, method=method)
                button.btn.btn-secondary(type='submit') Go back
        img.card-img-top(src='/images/' + image, alt='Card image cap')