extends ../layouts/defaultLayout

block content
    .card
        .card-header.text-center
            h4(style="color:red;")= fail
            p(style="color:red;")= error
        .card-footer.text-muted.text-center 
            -var link= 'http://localhost:3000' + location;
            a(class="btn btn-secondary" href=link) Try again!