extends ../layout

block content
  .card 
    .card-header 
      h3 Login!
    .card-body
      form(action='/user/login' method='POST')
          .mb-3
            label.form-label(for='name') User
            input#authorName.form-control(type='text', name='user' placeholder='enter your username')
          .mb-3
            label.form-label(for='description') Password
            input#descriptionName.form-control(type='password', name='password' placeholder='enter your password')
          button.btn.btn-success(type='submit') Login
  .card 
    .card-footer.text-muted.text-center
      a(class="btn btn-secondary" href="http://localhost:3000/user/register") Don't have an account?