extends ../layouts/loggedInLayout

block content
    .card 
        .card-header.text-center
            h1 Track your shit
    .row 
        .col
            .card
                .card-header.text-center 
                    h3 Create new projects
                form(method = 'POST', action = '/timer/add/label')
                    .card-body.text-center
                        input#label.form-control(type='text', name='label' placeholder='add new project')
                    .card-footer.text-muted.text-center
                        button.btn.btn-secondary(type='submit') Add it
        .col
            .card
                .card-header.text-center 
                    h3 Track a project
                .card-body.text-center
                    form(method = 'POST', action = '/timer/update')
                        .mb-3
                            select.form-select(name='label_selection' onchange="this.form.submit();")
                                option(selected) select project:
                                //each val in labels.labels
                                    if val.label != null
                                        option(value= val.label)= val.label
                        #stopwatch
                            |00:00:00
                        #buttons
                            button.btn.btn-success(type="button" onclick='startTimer()') Start
                            button.btn.btn-danger(type="button" onclick='stopTimer()') Pause
                            button.btn.btn-secondary(type='submit') Done
    script.
        const timer = document.getElementById('stopwatch');
        var hr = 0;
        var min = 0;
        var sec = 0;
        var stoptime = true;
        
        function startTimer() {
            if (stoptime == true) {
                stoptime = false;
                timerCycle();
            }
        }

        function stopTimer() {
            if (stoptime == false) {
                stoptime = true;
            }
        }

        function timerCycle() {
            if (stoptime == false) {
                sec = parseInt(sec);
                min = parseInt(min);
                hr = parseInt(hr);
                sec = sec + 1;
                if (sec == 60) {
                    min = min + 1;
                    sec = 0;
                }
                if (min == 60) {
                    hr = hr + 1;
                    min = 0;
                    sec = 0;
                }
                if (sec < 10 || sec == 0) {
                    sec = '0' + sec;
                }
                if (min < 10 || min == 0) {
                    min = '0' + min;
                }
                if (hr < 10 || hr == 0) {
                    hr = '0' + hr;
                }
                timer.innerHTML = hr + ':' + min + ':' + sec;
                setTimeout("timerCycle()", 1000);
            }
        }