extends ../logedInLayout

block content
    .card
        .card-body.text-center
            h2= user + '\'s habits'
            h5= '(' + habits.length + ' habit/s)'
            a(class="btn btn-secondary" href='http://localhost:3000/journal/page/create') Create custom habit