extends ../layouts/loggedInLayout

block content
    .card
        .card-body.text-center
            h2= user + '\'s habits'
            h5= '(' + habits.length + ' habit/s)'
            a(class="btn btn-secondary" href='http://localhost:3000/journal/page/create') Create custom habit
    .card 
        .card-body 
            .card(style='width: 20rem;')
                ul.list-group.list-group-flush
                    each habit in habits 
                        li.list-group-item
                            .dropdown
                                button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | <i class="las la-ellipsis-h"></i>
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    a.dropdown-item(href='#') Something else here
                            form(action="/habits/" + habit.title + '/status', method='POST') 
                                .card-header.text-center
                                    button.btn.btn-success(type='submit', name='plus') <i class="las la-plus-square"></i>
                                .card-body(style="background-color: " + habit.label_color + ";")
                                    h5.text-center= habit.title
                                    p= 'label: ' + habit.label
                                        | <br> status: 
                                .card-footer.text-center
                                    button.btn.btn-danger(type='submit', name='minus') <i class="las la-minus-square"></i>
                    
