extends ../layouts/loggedInLayout

block content
    .card
        .card-header.text-center
            h4 How does a habit work? 
                .card.mx-auto(style='width:18rem;')
                    <img class="card-img-top" src="/images/confused.png" alt="Card image cap">
        .card-body
            |The difficult thing about studying the science of habits is that most people, when they hear about this field of research, want to know the secret formula for quickly changing any habit. If scientists have discovered how these patterns work, then it stands to reason that they must have also found a recipe for rapid change, right?

            |If only it were that easy.

            |It’s not that formulas don’t exist. The problem is that there isn’t one formula for changing habits. There are thousands. Individuals and habits are all different, and so the specifics of diagnosing and changing the patterns in our lives differ from person to person and behavior to behavior. 