extends ../logedInLayout

block content
    .card
        .card-body.text-center
            h2 Most active users
            h5= '(' + users.length + ' users)'
            a(class="btn btn-success" href='http://localhost:3000/stats/' + user) See YOUR stats
    ul
        each val in users
            .card
                .card-body
                    if val.name != user
                        a(href='http://localhost:3000/stats/' + val.name)
                            h3.card-title(style="color:#585858;")=val.name
                    else 
                        a(href='http://localhost:3000/stats/' + val.name)
                            h3.card-title(style="color:#585858;")=val.name + ' (YOU)'
                    h5.card-text= 'Points: ' + val.points