extends ../logedInLayout

block content
  .card 
    .card.header.text-center
      h3= user + '\'s stats'
    .card.body.text-center
      h5(style='color:green')= 'Points: ' + stats.points
      h5(style='color:green')= 'Journal pages: ' + stats.pages
      h5(style='color:green')= 'Finished tasks: ' + stats.doneTasks