extends ../logedInLayout

block content
  .card
    .card-body.text-center
        h2= user + '\'s to-dos'
        a(class="btn btn-secondary" href='http://localhost:3000/todos/create') Create new to-do
        a(class="btn btn-primary" href='http://localhost:3000/todos/view/all') View all to-dos
  .card 
    .card-body
      form(action= '/todos/view' method='POST')
          .mb-3
            h3(style="color:green;") Select a date:
            input#datepicker.form-control(type='text', name='date' placeholder='date of to-dos')
          button.btn.btn-success(type='submit') View to-dos
    script. 
        $(function () {
            $('#datepicker').datepicker({ 
                dateFormat: 'yy-mm-dd',
            });
        });